@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
  --large-text: 64px;
  --medium-text: 32px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: blue;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: var(--large-text);
}

h2 {
  font-size: var(--medium-text);
}
